<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16A323</string>
	<key>CFBundleDisplayName</key>
	<string>ExtrudeTool</string>
	<key>CFBundleIdentifier</key>
	<string>com.danielgamage.ExtrudeTool</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8A218a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16A300</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8A218a</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/danielgamage/Extrude-Tool/master/ExtrudeTool.glyphsTool/Contents/Info.plist</string>
	<key>WorkspacePath</key>
	<string>../Extrude Tool.xcodeproj</string>
</dict>
</plist>
